body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 62.5%;
}
.todo-incomplete {
  color: #2c2c2c;
  font-size: 1.4rem;
  width: 92%;
  display: flex;
  justify-content: flex-start;
  margin-top: 0.4rem;
}
.todo-incomplete:hover {
  cursor: pointer;
}
.todo-complete {
  color: #c4c4c4;
  text-decoration: line-through;
  /* border: 1px solid #c4c4c4; */
  font-size: 1.4rem;
  width: 92%;
  display: flex;
  justify-content: flex-end;
  margin-top: 0.4rem;
}
.todo-complete:hover {
  cursor: pointer;
}
.task-form {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  width: 100%;
}
.task-input {
  height: 2rem;
  width: 50%;
  min-width: 500px;
  outline: none;
  font-size: 1.2rem;
  overflow: scroll;
  padding-left: 8px;
}
.task-list {
  /* border: 1px solid red; */
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 500px;
  margin-top: 0.4rem;
}
.button-sheet {
  display: flex;
  flex-direction: column;
}
.task-box {
  /* border: 1px solid green; */
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.delete-button {
  width: 60%;
  margin-top: 16px;
  height: 1.6rem;
  outline: none;
  background: white;
  border: none;
  font-size: 0.7rem;
  display: flex;
  justify-content: flex-end;
}
.delete-button:hover {
  cursor: pointer;
  color: red;
}
.submit-button {
  width: 5rem;
  border-radius: 3px;
  margin-left: 5px;
  font-size: 1rem;
  background: #1E90FF;
  color: white;
  border: none;
}
.submit-button:hover {
  cursor: pointer;
  background: rgba(30, 144, 255, 0.7);
}